<div id="colmask">
	<div id="colmid">
		<div id="colright">
			<div id="col1wrap">
				<div id="col1pad">
					<div id="col1" style="text-align: center ;">
						<!-- Column 1 start -->
						<br>
						<!-- Image from http://www.123rf.com/ -->
						<img src="https://stage.transformativeworks.org/vault/images/lock.png">
						<br>
						<div id="Buttons">
						<span id="Login_button">Login</span>
                        <span id="Help_button">Help</span>
						</div>
						<br>
						<!-- Column 1 end -->
					</div>
				</div>
			</div>
			<div id="col2">
				<!-- Column 2 start -->
				<!-- Column 2 end -->
			</div>
			<div id="col3">
				<!-- Column 3 start -->
				<!-- Column 3 end -->
			</div>
		</div>
	</div>
</div>
