[% LOAD="<script type='text/javascript' src='/vault/js/jquery.password_strength.js'></script>" %]

[% SCRIPT="

function process_login(data) {
\$('#Login_dialog').dialog('close');
if ( data.error == 2 ) {
  \$('#Not_Validated_dialog').dialog('open');
  } 
if ( data.error == 1 ) {
  \$('#Login_incorrect_dialog').dialog('open');
  } 
if (  data.error == 0 ) {
  window.location = '${rooturl}${rootcgi}?action=front_page';
 }
}

function login () {
\$.post('./login',{ username: \$('#login_username').val(), passphrase: \$('#login_passphrase').val()},function(data){process_login(data)},'json');
}

                \$('#Login_button,#Help_button').button();
				\$('#Buttons').buttonset();
				\$('form').attr('autocomplete', 'off');
"
%]
[%  dialogs= [ {name='Problem',option="title: 'Invalid data'"},
			   {name='Not_Validated',option="title: 'Email address not validated',close: function() {window.location.reload()} ,
								buttons: { 'Resend Email' : function () {\$.post('./resend_email',{ username: \$('#login_username').val()});window.location.reload();},
										   'Close' : function() {window.location.reload() }}"  },
                           {name='Login_incorrect',option="title: 'Login Failed',close: function() {window.location.reload()}"} ,
			   {name='Result',option="title: 'Login Issue',close: function() {window.location.reload()} "} ] %]
[% FOREACH dialog IN dialogs %]
[% SCRIPT="$SCRIPT
				\$('div#${dialog.name}_dialog').dialog({
                    autoOpen: false,
                    show: 'highlight',
                    hide: 'highlight',
					${dialog.option},
                    modal: true
                    });

" %]
[% END %]

[%  buttons= [
{name='Help' , option="width:500"},
{name='Login',option="width:290,buttons : { 'Login'  : function () {login()} }"} 
] %]

[% FOREACH button IN buttons %]
[% SCRIPT="$SCRIPT
				\$('div#${button.name}_dialog').dialog({
					autoOpen: false,
					${button.option},
					show: 'highlight',
					hide: 'highlight',
					title: '${button.name}',
					modal: true
					});
				\$('#${button.name}_button').click (function(event)
					{
					 if (\$('#${button.name}_dialog').dialog ('isOpen')==false )
							\$('#${button.name}_dialog').dialog ('open');
					 });
" %]
[% END %]
[% INCLUDE "base_lock.html" %]
<span style="display: none;">
<div id="Help_dialog" title="Help">
<p>The vault is a system used by the OTW to securely distribute files to its staff</p>
<p>When you register, you must specify a username, passphrase, and e-mail address to attach to the account. This will create the private key for your account.</p>
<p>Once this has been done, the site administrator must then approve your account, creating your account certificate and adding you to the appropriate vault groups. Until this happens, you will be able to log in, but you will not be able to view or upload any private files.</p>
<p>You will be notified at your e-mail address once your account has been approved.</p>
<p>If you forget your passphrase, we cannot recover it for you. Your account will need to be deleted and you will be able to sign up again</p>
</div>
<div id="Login_dialog" title="Login">
<div >
<p>User Name: <input style= "width:inherit;float:right;"  type="text"   name="login_username" id="login_username"/></p>
</div>
<div >
<p>Pass Phrase: <input style= "width:inherit;float:right;"  type="password"   name="login_passphrase" id="login_passphrase" /></p>
</div>
</div>
<div id="Result_dialog" title="Login Issue">
<div id="Result_text"><p></p></div>
</div>

<div id="Not_Validated_dialog">
<div id="Not_Validated_text"><p>You have yet to validate your email address, you can either try again later after validating your email address.</p>
<p>Or you can have the email resent.</p>
</div>
<div id="Login_incorrect_dialog">
<div id="Login_incorrect_text"><p>Login Failed</p>
</div>

</div>
</span>
