[% LOAD="<script type='text/javascript' src='/vault/js/jquery.password_strength.js'></script>" %]

[% SCRIPT="
function isValidEmailAddress(emailAddress) {
    var pattern = new RegExp(/^[a-zA-Z0-9_.-]+@[a-zA-Z0-9]+[a-zA-Z0-9.-]+[a-zA-Z0-9]+.[a-z]{1,4}$/i);
    if(  pattern.test(emailAddress) ) {  
		\$('#emailvalid').html('Valid email');
		return 1 ; 
	}  else {
		\$('#emailvalid').html('Invalid email');
		return 0 ;
    }
};
function check_passwords_equal()
{
if (\$('#passphrase').val() == \$('#passphrase_repeat').val() )
     \$('#duppassword').html('Password equal');
else
	 \$('#duppassword').html('Passwords different');
}

function check_username (data)
{
	\$('#userfree').html(data.result);
}

function display_register(data) 
{
\$('#Please_wait_dialog').dialog('close');
\$('#Result_text').html(data.result);
\$('#Result_dialog').dialog('open');
}

function process_login(data) {
\$('#Login_dialog').dialog('close');
\$('#Result_text').html(data.result);
\$('#Result_dialog').dialog('open');
}

function login () {
\$.post('./login',{ username: \$('#login_username').val(), passphrase: \$('#login_passphrase').val()},function(data){process_login(data)},'json');
}

function register() {
if ( \$('#passphrase').val() != \$('#passphrase_repeat').val() ) {
    \$('#Problem_dialog').dialog('open');
	return ;
   }
if ( \$('#strength').html() == '' || \$('#strength').html() =='Weak password' || \$('#strength').html() =='Too weak' || \$('#strength').html() =='Normal strength' ) {
    \$('#Problem_dialog').dialog('open');
    return ;
   }
if ( \$('#userfree').html()!='User name available' ){
    \$('#Problem_dialog').dialog('open');
    return ;
   }
if ( isValidEmailAddress(\$('#email_address').val()) == 0 ) {
    \$('#Problem_dialog').dialog('open');
    return ;
   }
\$('#Please_wait_dialog').dialog('open');
\$.post('./register',{ username: \$('#username').val(), passphrase: \$('#passphrase').val(), email_address: \$('#email_address').val()},function(data){display_register(data)},'json');
}


                \$('#Login_button, #Register_button, #Help_button').button();
				\$('#Buttons').buttonset();
				\$('form').attr('autocomplete', 'off');
				\$('#passphrase').password_strength({container:'#strength'});
				\$('#passphrase_repeat').bind('input', function() { check_passwords_equal()});
				\$('#passphrase').bind('input', function() { check_passwords_equal()});
				\$('#username').change(function() {\$.post('./check_unused_username',{ username: \$('#username').val()},function(data){check_username(data)},'json')  });
				\$('#email_address').change(function() {isValidEmailAddress(\$('#email_address').val())});		
"
%]
[%  dialogs= [ {name='Problem',option="title: 'Invalid data'"},
			   {name='Please_wait',option="title: 'Registering'"},
			   {name='Result',option="title: 'Registered',close: function() {window.location.reload()} "} ] %]
[% FOREACH dialog IN dialogs %]
[% SCRIPT="$SCRIPT
				\$('div#${dialog.name}_dialog').dialog({
                    autoOpen: false,
                    show: 'highlight',
                    hide: 'highlight',
					${dialog.option},
                    modal: true
                    });

" %]
[% END %]

[%  buttons= [
{name='Help' , option="width:500"},
{name='Register',option="width:500,buttons : { 'Register'  : function () {register()} }"},
{name='Login',option="width:290,buttons : { 'Login'  : function () {login()} }"} 
] %]

[% FOREACH button IN buttons %]
[% SCRIPT="$SCRIPT
				\$('div#${button.name}_dialog').dialog({
					autoOpen: false,
					${button.option},
					show: 'highlight',
					hide: 'highlight',
					title: '${button.name}',
					modal: true
					});
				\$('#${button.name}_button').click (function(event)
					{
					 if (\$('#${button.name}_dialog').dialog ('isOpen')==false )
							\$('#${button.name}_dialog').dialog ('open');
					 });
" %]
[% END %]


<div id="colmask">
	<div id="colmid">
		<div id="colright">
			<div id="col1wrap">
				<div id="col1pad">
					<div id="col1" style="text-align: center ;">
						<!-- Column 1 start -->
						<br>
						<!-- Image from http://www.123rf.com/ -->
						<img src="https://stage.transformativeworks.org/vault/images/lock.png">
						<br>
						<div id="Buttons">
						<span id="Login_button">Login</span>
                        <span id="Register_button">Register</span>
                        <span id="Help_button">Help</span>
						</div>
						<br>
						<!-- Column 1 end -->
					</div>
				</div>
			</div>
			<div id="col2">
				<!-- Column 2 start -->
				<!-- Column 2 end -->
			</div>
			<div id="col3">
				<!-- Column 3 start -->
				<!-- Column 3 end -->
			</div>
		</div>
	</div>
</div>
<div id="Help_dialog" title="Help">
<p>The vault is a system used by the OTW to securely distribute files to its staff</p>
<p>When you register, you must specify a username, passphrase, and e-mail address to attach to the account. This will create the private key for your account.</p>
<p>Once this has been done, the site administrator must then approve your account, creating your account certificate and adding you to the appropriate vault groups. Until this happens, you will be able to log in, but you will not be able to view or upload any private files.</p>
<p>You will be notified at your e-mail address once your account has been approved.</p>
<p>If you forget your passphrase, we cannot recover it for you. Your account will need to be deleted and you will be able to sign up again</p>
</div>
<div id="Login_dialog" title="Login">
<div >
<p>User Name: <input style= "width:inherit;float:right;"  type="text"   name="login_username" id="login_username"/></p>
</div>
<div >
<p>Pass Phrase: <input style= "width:inherit;float:right;"  type="password"   name="login_passphrase" id="login_passphrase" /></p>
</div>
</div>
<div id="Register_dialog" title="Register">
<div >
<p>User Name: <input style= "width:inherit;float:right;"  type="text"   name="username" id="username" /><div style= "float:right;" id="userfree">Availability not checked.</div></p>
</div>
<br>
<div >
<p>Pass Phrase: <input id="passphrase" style= "width:inherit;float:right;"  type="password" name="passphrase" id="passphrase" /><div style= "float:right;" id="strength"></div></p>
</div>
<br>
<div >
<p>Pass Phrase (Again): <input style= "width:inherit;float:right;"  type="password" name="passphrase_repeat" id="passphrase_repeat" /><div style= "float:right;" id="duppassword">Passwords equal.</div></p>
</div>
<br>
<div >
<p>Email Address: <input style= "width:inherit;float:right;"  type="text"   name="email_address" id="email_address"  /><div style= "float:right;" id="emailvalid">Unvalidated email</div></p>
</div>
</div>
<div id="Problem_dialog" title="Invalid data">
<p>Please fix the problems show and attempt to register.</p>
<p>A passphrase should be longer than six characters and contain a mix of uppercase and lowercase, numbers and symbols</p>
</div>
<div id="Please_wait_dialog" title="Regestering">
<p>Please wait while you are registered</p>
</div>
<div id="Result_dialog" title="Registered">
<div id="Result_text"><p></p></div>
</div>

