<body bgcolor="#CDCDCD" 
       text="#000000">
<div><img style="vertical-align:middle" src="cid:logo.png">
<span style="position: relative; top: 12px; left: 30px; font-weight:normal;color:#000000;letter-spacing:1pt;word-spacing:3pt;font-size:36px;font-family:helvetica, sans-serif;">The Organization for Transformative Works</span></div>
<p>
</p>
<div style="position: relative; left: 130px;">
<p>Welcome [% username %],<br>
<br>
We need to validate your email address with your account. To do this either <a href="[% url %]?validation_string=[%email_validation%]">click this link</a><br><br>
or copy this utl in to your browser [% url %]?validation_string=[%email_validation%]
</p>
</div>
</body>
